body {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
    background: #fff;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

a {
    color: #202124;
    font-size: 14px;
    font-family: arial, sans-serif;
    text-decoration: none;
}    

.navbar {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 6px;
}

.navbar-about {
    display: inline-block;
    padding: 5px;
    margin-left: 15px;
    margin-right: 5px;
}

.navbar-store {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-right-container {
    display: inline-block;
    flex-grow: 1;
    
}

.navbar-right {
    float: right;
}

.navbar-gmail {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-images {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-input {
    border: none;
}

.material-icons {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
}