body, html {
    height: 100%;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
    background: #fff;
    padding: 0px;
    margin: 0px;
}

.main {
    display: flex;
    flex-direction: column;
}

a {
    color: #202124;
    font-size: 14px;
    font-family: arial, sans-serif;
    text-decoration: none;
}    

.navbar {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 6px;
}

.navbar-about {
    display: inline-block;
    padding: 5px;
    margin-left: 15px;
    margin-right: 5px;
}

.navbar-about:hover {
    text-decoration: underline;
}


.navbar-store {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-store:hover {
    text-decoration: underline;
}

.navbar-right-container {
    display: inline-block;
    flex-grow: 1;   
}

.navbar-right {
    float: right;
    padding-right: 4px;
}

.navbar-gmail {
    font-size: 13px;
    padding-left: 15px;
}

.navbar-gmail:hover{
    text-decoration: underline;
}

.navbar-images {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 15px;
}

.navbar-images:hover {
    text-decoration: underline;
}

.navbar-sign-in {
    padding: 9px 23px 9px 23px;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 16px;
    letter-spacing: 0.25px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #1a73e8;
    border: 1px solid transparent;
    vertical-align: middle;
    min-width: 96px;
}

.navbar-sign-in:hover {
    background: #2b7de9;
    cursor: pointer;
}

.navbar-right-container-1 {
    display: inline-block;
}

.navbar-apps-container {
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
}

.navbar-apps-container:hover {
    background-color: rgba(60,64,67,0.08);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

#apps {
    color: #5f6368;
    height: 40px;
    width: 40px;
    display: inline;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 66px;
}

img {
    max-height: 92px;
    object-fit: contain;
    object-position: center bottom;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-shrink: 0;
    max-height: 160px;
}

.search-container-1 {
    width: auto;
    max-width: 584px;
    padding: 6px;
}

.search-bar {
    display: flex;
    width: 558px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 39px;
    padding: 5px 8px 0px 16px;

}

.search-bar:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

#search-input {
    border: none;
    display: flex;
    height: 34px;
    width: 525px;
    font-size: 16px;
    outline: none;
    background-color: transparent;
}

#search-icon {
    display: flex;
    color: #9aa0a6;
    font-size: 20px;
    align-items: center;
    margin-top: -5px;
    padding-right: 13px;
}

.search-button-container {
    height: 70px;
    padding-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.search-button-1 {
    background-color: #f8f9fa;
    margin: 11px 4px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    padding: 0px 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.search-button-1:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.search-button-2 {
    background-color: #f8f9fa;
    margin: 11px 4px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    padding: 0px 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.search-button-2:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.page-space {
    flex-grow: 1;
}

.footer-container {
    background-color: #f2f2f2;
    flex-shrink: 0;
}

.footer-1 {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color:rgba(0, 0, 0, 0.54)
}

.footer-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px;
}

.footer-2-left {
    display: flex;
}

.footer-advertising {
    display: block;
    padding: 15px;
    color: #70757a;
}

.footer-business {
    display: block;
    padding: 15px;
    color: #70757a;
}

.footer-hsw {
    display: block;
    padding: 15px;
    color: #70757a;
}

.footer-2-right {
    display: flex;
}

.footer-privacy {
    display: block;
    padding: 15px;
    color: #70757a;
}

.footer-terms {
    display: block;
    padding: 15px;
    color: #70757a;
}

.footer-settings {
    display: block;
    padding: 15px;
    color: #70757a;
}